nav {
  background: rgba(0, 0, 0, 0.4); }

.imgMain .navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%283, 3, 3' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.imgMain .navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.55);
  border-color: #030303; }

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #000;
  background: #1efd00; }

.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 2em; }
  @media (max-width: 576px) {
    .navbar-dark .navbar-nav .nav-link {
      text-align: center;
      background-color: rgba(3, 3, 3, 0.65); } }

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(3, 3, 3, 0.55);
  background-color: #1efd00; }

.navbar-collapse {
  width: auto; }
  @media (max-width: 576px) {
    .navbar-collapse {
      width: 100%;
      position: absolute;
      z-index: 1;
      right: 20px;
      top: 70px; } }

.imgMain {
  width: 100%;
  height: 100vh;
  background: url(../imagenes/carpinteria4.jpg);
  background-position: center;
  background-size: cover; }
  @media (max-width: 576px) {
    .imgMain {
      height: 110vh; } }
  .imgMain .home {
    width: 100%;
    height: 90vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .imgMain .home h1 {
      color: #1efd00;
      font-family: 'Nunito', sans-serif;
      font-size: 60px;
      text-transform: capitalize;
      font-weight: 700; }
      @media (max-width: 576px) {
        .imgMain .home h1 {
          text-align: center;
          font-size: 50px; } }
    .imgMain .home h3 {
      color: white;
      font-size: 30px; }
      @media (max-width: 576px) {
        .imgMain .home h3 {
          font-size: 25px; } }

.Button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 12px 24px;
  line-height: 14px;
  font-size: 24px;
  position: relative;
  overflow: hidden;
  cursor: pointer; }

.btnPrincipal {
  border: 2px solid #1efd00;
  border-radius: 16px;
  color: #1efd00;
  transition: all 0.5s ease 0.10s; }

.btnPrincipal:hover {
  color: #000;
  background-color: #1efd00; }

.btnPrincipal::before,
.btnPrincipal::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1; }

.btnPrincipal::before {
  background-color: #000;
  right: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease; }

.btnPrincipal::after {
  background-color: #1efd00;
  left: 0;
  transform: translateX(100%);
  transition: all 0.5s ease-out 0.10s; }

.btnPrincipal:hover::after {
  transform: translateX(0); }

.btnPrincipal:hover::before {
  transform: translateX(0); }

hr {
  width: 300px;
  background: #fff;
  border: none;
  opacity: 2; }

.nosotros .contenedorNos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .nosotros .contenedorNos .recuadroTitulo {
    border: 2px solid #000;
    padding: 10px;
    text-align: center;
    width: 70%;
    margin: 10px 0px; }
    .nosotros .contenedorNos .recuadroTitulo hr {
      background: #000;
      width: 50%;
      height: 3px;
      margin: 10px auto; }
    .nosotros .contenedorNos .recuadroTitulo h1 {
      font-size: 40px;
      color: #000;
      font-weight: 700;
      margin: 10px;
      text-transform: capitalize; }

.nosotros p {
  font-weight: 800;
  padding-top: 20px;
  color: #000;
  line-height: 1.6;
  margin: 10px; }

.nosotros .imagenesNos img {
  height: 250px;
  margin: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000; }

.nosotros .imagenesNos img:hover {
  transform: scale(2, 2);
  display: inline-block;
  cursor: pointer; }

.galeria {
  background: url(../imagenes/foto7.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  .galeria .containerGaleria {
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .galeria .containerGaleria .recuadroTitulo {
      border: 2px solid #fff;
      padding: 10px;
      text-align: center;
      width: 70%;
      margin: 10px 0px; }
      .galeria .containerGaleria .recuadroTitulo hr {
        background: #fff;
        width: 50%;
        height: 3px;
        margin: 10px auto; }
      .galeria .containerGaleria .recuadroTitulo h1 {
        font-size: 40px;
        color: #fff;
        font-weight: 700;
        margin: 10px;
        text-transform: capitalize; }
        @media (max-width: 576px) {
          .galeria .containerGaleria .recuadroTitulo h1 {
            font-size: 30px; } }
    .galeria .containerGaleria .proyectos {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 80px;
      padding-bottom: 70px; }
    .galeria .containerGaleria img {
      margin: 10px;
      border-radius: 10px;
      cursor: pointer;
      width: 45em;
      height: 29em;
      box-shadow: 5px 5px 3px; }
      @media (max-width: 576px) {
        .galeria .containerGaleria img {
          width: 18em;
          height: 20em; } }
  .galeria p {
    color: #fff;
    margin: 30px 0 30px 0; }
    .galeria p a {
      color: white;
      text-decoration: none; }
    .galeria p :hover {
      color: red;
      text-decoration: underline;
      font-size: 25px; }

.ubicacion {
  height: 100%;
  width: 100%; }
  .ubicacion .contenedorUbi {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px; }
    .ubicacion .contenedorUbi .recuadroTitulo {
      border: 2px solid #000;
      padding: 10px;
      text-align: center;
      width: 70%;
      margin: 10px; }
      .ubicacion .contenedorUbi .recuadroTitulo hr {
        background: #000;
        width: 40%;
        height: 3px;
        margin: 10px auto; }
      .ubicacion .contenedorUbi .recuadroTitulo h1 {
        font-size: 40px;
        color: #000;
        font-weight: 700;
        margin: 10px;
        text-transform: capitalize; }

.mapa iframe {
  box-shadow: 4px 4px 5px #000;
  margin: 5px; }
  @media (max-width: 576px) {
    .mapa iframe {
      width: 300px;
      height: 450px; } }

.direccion {
  height: 550px;
  display: grid;
  align-items: center;
  padding: 20px; }
  .direccion p {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    line-height: 1.4; }
    .direccion p i {
      color: red;
      font-size: 30px; }

.contacto .contenedorContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .contacto .contenedorContacto .recuadroTitulo {
    border: 2px solid #000;
    padding: 10px;
    text-align: center;
    width: 70%;
    margin: 15px; }
    .contacto .contenedorContacto .recuadroTitulo hr {
      background: #000;
      width: 50%;
      height: 3px;
      margin: 10px auto; }
    .contacto .contenedorContacto .recuadroTitulo h1 {
      font-size: 40px;
      color: #000;
      font-weight: 700;
      margin: 15px;
      text-transform: capitalize; }

.contacto p {
  color: #000;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5;
  padding: 20px; }

.contacto .btn {
  background: #1efd00;
  color: #000; }

.contacto .btn:hover {
  background: #000;
  color: #1efd00; }

input, textarea {
  border-radius: 15px !important;
  border: 0px !important; }

textarea {
  height: 150px !important; }

.informacion {
  background: linear-gradient(to left, #536976, #292e49);
  padding: 10px; }
  .informacion h2 {
    font-size: 25px;
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center; }
  .informacion .redes a {
    text-decoration: none;
    color: #fff;
    font-size: 18px; }
  .informacion p {
    font-size: 20px;
    color: #fff; }
  .informacion .horarios p {
    text-align: center; }

footer {
  background: linear-gradient(to top, #141e30, #243b55);
  padding-bottom: 25px; }
  footer .whatsapp {
    position: fixed;
    bottom: 10px;
    right: 20px; }
  footer p {
    text-align: center;
    padding-top: 5px;
    color: #fff;
    font-size: 15px; }

body {
  font-family: 'Roboto', sans-serif; }

.fa-clock, .fa-envelope-open,
.fa-instagram, .fa-mobile-alt {
  font-size: 30px;
  color: #fff; }

.fa-whatsapp {
  font-size: 50px;
  color: #1efd00; }

.imagenFondo, .nosotros, .ubicacion, .contacto {
  background: url(../imagenes/fondo4.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

.medidas, .nosotros .contenedorNos, .galeria, .galeria .containerGaleria, .contacto .contenedorContacto {
  width: 100%;
  height: 100%; }
