nav {
    background: rgba(0, 0, 0, 0.4);
}
.imgMain .navbar-dark .navbar-toggler-icon {
    background-image: url(
        "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%283, 3, 3' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"
    );
}
.imgMain .navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: rgb(3,3,3);
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
    color: $negro;
    background: $verde;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2em;

    @media (max-width: 576px) {
        text-align: center;
        background-color: rgba(3, 3, 3, 0.65);
    }
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(3, 3, 3, 0.55);
    background-color: $verde;
}
.navbar-collapse {
    width: auto;
    @media (max-width: 576px) {
        width: 100%;
        position: absolute;
        z-index: 1;
        right: 20px;
        top: 70px;
    }
}

