.imgMain{
    width: 100%;
    height: 100%;
    background: url(../imagenes/carpinteria4.jpg);
    background-position: center;
    background-size: cover;
    .home{
        width:100%;
        height:90vh;
        background: rgba(0,0,0,0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            color:$verde;
            font-family: 'Nunito', sans-serif;
            font-size:60px;
            text-transform: capitalize;
            font-weight: 700;
        }
        h3{
            color:white;
            font-size:30px; 
        }
    }
}

button{
    width: 170px;
    height: 40px;
    transition:widht 1s;
    background:$verde;
    border-radius: 24px;
    border: none;
    font-size: 22px;
    text-align: center;
    cursor: pointer;

   
}
button:hover{
    width:200px;
    font-size:27px;
}

hr{
    width: 400px;
    height: 3px;
    background: #fff;
    border: none;
    margin-top: 5px;
}